<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>
	<meta name="description" content="{{ .Title }}">
	<meta name="author" content="{{ .Site.Author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ if .Site.Params.font }}<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">{{ end }}
	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/fonts.css">
	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/normalize.css">
	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/skeleton.css">
	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/custom.css">
	{{ if .Params.highlight }}
	<script src="{{ .Site.BaseUrl }}/highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<link rel="stylesheet" href="{{ .Site.BaseUrl }}/highlight/styles/default.css">{{ end }}
</head>
<body>
